.App {
  text-align: center;
}

.nav-ul li{
  display:inline-block;
  padding:10px;
}

.nav-ul li a{
  color: #fff;
  padding: 5px;
  text-decoration: none;
}

.nav-rigth{
  text-align: right;
}

.nav-ul{
  padding:5px;
  margin: 0;
  background-color: skyblue;
}

.footer{

  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  border-color: whitesmoke;
  border-top-style: outset;

}

.logo{

  width: 65px;
  border-radius: 50%;
  margin-top: 10px;
  border-bottom: solid;
  margin-bottom: 3px;
  border-right-style: dashed;
  lighting-color: currentcolor;

  }

.process-image{
  width:185px ;
  border-radius: 50%;
  margin-top:10px;
  margin-left: 20px;
  display: inline-flex;
  font-family: ui-rounded;
  color: darksalmon;
}

.process-title{
  display: inline-flex;
  text-align: -webkit-left;
  font-family: ui-rounded;
  color: darksalmon;
}
.auth-title{
  text-align: -webkit-left;
  font-family: fangsong;
  color: steelblue
}


.inputBox-auth{
  height: 50px;
  width: 50vi;
}

.auth-div{
  display: inline-grid;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 900px;
  margin-top: 2vi;
  border: outset;
  border-radius: 40px;
}

.site-card-wrapper{
  padding-left: 55px;
  width: 95vi;
}

.report-button{
  width: 250px;
  height: 250px;
  margin-top: 5vi;
  font-size: 85px;
  color: darksalmon;
  border-bottom: dashed;
  border-top: dashed;
  border-left-style: hidden;
  border-right-style: hidden;
  min-width: 250px !important;
  margin-left: 5vi;
}

.add-button{
  min-width: 55px !important;
  width: 40px;
  color: cadetblue;
  border-bottom: dashed;
  border-top: dashed;
  border-left-style: hidden;
  border-right-style: hidden;
  right: 4rem;
  position: absolute;
  min-height: 55px;
  top: 5rem;
}
.add-icon{
  font-size: xx-large;

}

.search{
  width: 25vi;
  border-block-start: none;
  /* border-bottom-color: darksalmon; */
  border-right-style: ridge;
  /* border-left-color: darksalmon; */
  border-color: lightsalmon;
}
.search-icon{
  color: sienna;
}

.ant-spin-container{
  height: 35vi;
  overflow-y: auto;
}

.ant-table-container{
  height: 35i;
}

.ant-table{
  height: 36vi
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.table-title{
  color: darksalmon;
  font-family: emoji;
  border-bottom-style: inset;
  padding-bottom: 5px;
}

.delete-button{
  border-right-color: chocolate;
  border-left-color: chocolate;
  color: darksalmon;
}

.edit-button{
  border-right-color: slateblue;
  border-left-color: slateblue;
  color: slateblue;
}

.ant-table-content{
  border-top: outset;
}

.ant-modal-body{
  display: inline-grid;
}

.ant-modal-title{
  font-family: -webkit-body;
  color: currentColor;
  border-bottom-style: inset;
}
.modal-form{
  float: right;
}
.ant-form-vertical{
  width: 25vi;
  margin-left: 2vi;
}

.report-image{
  margin-left: 0vi;

}

.ant-col-6 {
  display: block;
  flex: 0 0 25%;
  max-width: fit-content !important;
  padding-left: 5vi!important;
}

.total-user{
  font-family: fangsong;
  border-bottom: double;
  color: grey;
}

.sub-title{
  color: black;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
